<p class="full_name"> <span class="first-name">{{userInfo.firstname}}</span> <span class="last-name">{{userInfo.lastname}}</span></p>
<hr>
<p class="age-gender">
    <span class="age">{{userInfo.age}}</span>y. <span class="gender">{{userInfo.gender}}</span>
</p>
<p class="bio-wrapper">
    <span class="bio">
        {{userInfo.bio}}
    </span>
</p>